*{
    color: white;
    font-size:medium;
    font-family:"Audiowide", sans-serif;
}
:root{
    --primary-color:rgba(5, 2, 36, 0.947);
    --shadow-Button:#1f14b6;
    --shadow-Button-active:#090275;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--primary-color);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    margin: 0.8rem;

}

#formulary{
    margin:6rem;
    width: 24rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* From https://css.glass */
    background: rgba(1, 20, 52, 0.351);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.46);
    padding: 2rem 4rem ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
tr{
    padding: 0.7rem;
}
input{
    margin: 0.8rem;
    width: 14rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.46);
    padding: 0.4rem 0;
}
input[type="color"]{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
input[type="checkbox"]{
width: 3rem;
height: 3rem;
}
input[type="submit"],a,button,#buttonSaveDraw {
  border: none;
  outline: none;
  background-color:var(--shadow-Button);
  padding: 10px 20px;
 text-decoration: none;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px var(--primary-color);
}

input[type="submit"]:active,a:active,button:active,#buttonSaveDraw:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--shadow-Button-active);
}
input[type="submit"]:hover,a:hover,button:hover,#buttonSaveDraw:hover {
    scale: 1.1;
}