<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/comon.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/draw.css}" type="text/css" />
    <title>Galery</title>
</head>

<body>
    <header>
        <h2>
            Hello <b id="user" name="user" th:text="${user}"></b>
        </h2>
        <a th:href="@{/privado}" name="galery">Private Galery</a>
        <a th:href="@{/galery}" name="galery">Public Galery</a>
        <a th:href="@{/lienzo}" name="draw">Draw</a>
        <a th:href="@{/login}" name="logout">Logout</a>
    </header>

    <table id="galery">
        <tr>

        <th id="ownGalery"  colspan="7">public galery</th>

    </tr>
        <tr>
            <th>User</th>
            <th>ID</th>
            <th>Draw name</th>
            <th>creation date</th>
            <th>width</th>
            <th>height</th>
           
        </tr>

        <tr th:each="draw : ${draws}">
            <th th:text="${draw.name}"></th>
            <th th:text="${draw.id}"></th>
            <th th:text="${draw.drawName}"></th>
            <th th:text="${draw.DateCreate}"></th>
            <th th:text="${draw.width}+ 'px'"></th>
            <th th:text="${draw.height}+ 'px'"></th>
             <th>
            <a th:if="${user == draw.name}"
               th:href="@{/lienzo(id=${draw.id}, drawName=${draw.drawName}, dateServer=${draw.DateCreate}, width=${draw.width}, height=${draw.height})}">
                redraw
            </a>

            <a th:if="${user != draw.name}"
               th:href="@{/lienzo(id=${draw.id}, drawName=${draw.drawName}, dateServer=${draw.DateCreate}, width=${draw.width}, height=${draw.height})}">
                create a copy
            </a>
        </th>

        </tr>
        <!-- <tr th:each="draw : ${draws}"
        th:class="${user == draw.user.id} ? 'owns' : 'others'">

        <th th:text="${draw.user.nameUser}"></th>
        <th th:text="${draw.id}"></th>
        <th th:text="${draw.NameDraw}"></th>
        <th th:text="${draw.dateSaved}"></th>



        <th th:text="${draw.width} + 'px'"></th>
        <th th:text="${draw.height} + 'px'"></th>


        <th>
            <a th:if="${user == draw.name}"
               th:href="@{/lienzo(id=${draw.id}, drawName=${draw.name}, dateServer=${draw.dateSaved}, width=${draw.canvasSize[0]}, height=${draw.canvasSize[1]})}">
                redraw
            </a>

            <a th:if="${user != draw.nameUser}"
               th:href="@{/lienzo(id=${draw.id}, drawName=${draw.name}, dateServer=${draw.dateSaved}, width=${draw.canvasSize[0]}, height=${draw.canvasSize[1]})}">
                create a copy
            </a>
        </th>


        <th>
            <form th:if="${user == draw.nameUser}"
                  th:action="@{/delete}" method="post">
                <input type="hidden" name="id" th:value="${draw.id}">
                <input type="submit" value="delete">
            </form>
        </th>
    </tr> -->
    </table>

    <script th:src="@{/scripts/galery.js}"></script>
</body>

</html>