<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/comon.css}"/>

    <title>Login</title>
</head>
<body>

<form id="formulary" th:action="@{/login}" method="POST">
    <h2>Login</h2>

    <div>
        <h3>Username:</h3>
        <input type="text" name="username"/>
    </div>

    <div>
        <h3>Password:</h3>
        <input type="password" name="password"/>
    </div>

    <input type="submit" value="Login"/>

    <p th:if="${message}" th:text="${message}" style="color:red"></p>

    <a th:href="@{/register}">Register user</a>
</form>

</body>
</html>
